---
layout: default
title: Sol de Acuario - Shamanic Healing Retreats
description: Shamanic healing retreats in Bulgaria's Rose Valley. Reconnect with your roots through sacred medicine ceremonies.
---

{% include hero.html %}
{% include about.html %}
{% include guides.html %}
{% include medicines.html %}
{% include retreats.html %}
{% include location.html %}
{% include music.html %}
{% include testimonials.html %}
{% include booking.html %}
{% include faq.html %}
{% include contact.html %}
{% include terms.html %}